<form action="searchByTitle" method="post" enctype="multipart/form-data">
  <label >Search by title</label>:
  <input name="query" size="30" type="text" /><br/>

  <input name="submit" value="Search" type="submit" />

</form>


